.idea
node_modules
*.iml
**/lerna-debug.log
**/private-seed.js
**/private-seed.cjs
**/private-seed.mjs
**/.cache/
**/temp-*.json
**/temp-*.yaml
**/temp-*.js
**/lib/

.jest/
.DS_Store
*.swp
packages/media-export/files/
packages/media-export/blog.json
packages/media-export/videos.json
*.log
packages/assets-base/scripts/asset-list.yml

.cache

yarn-error.log

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

coverage
**/.yarn/
/.nx/
**/.env*
